<section class="my-4">
    <div class="row g-4 d-flex justify-content-center align-items-center">
        <div class="col-md-3" *ngFor="let brand of brands">
        <div class="card">
                 <div data-bs-toggle="modal" data-bs-target="#brandModal" class="border border-success rounded p-2 shadow" (click)="showDetails(brand._id)">
            <div class="card-img">
                <img [src]="brand.image" class="w-100">
            </div>
            <Div class="card-body text-center">
                                <p>{{ brand.name }} </p>

            </Div>
            </div>
        </div>
       
        </div>
    </div>
</section>
<app-brandsdetails [brandDetails]="BrandDetails"></app-brandsdetails>