<div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="brandModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row g-4 align-items-center justify-content-center">
                <div class="col-md-6">
                    <h1 class="geen">{{brandDetails.name}}</h1>
                    <p>{{brandDetails.name}}</p>
                </div>
                <div class="col-md-6">
                    <img  [src]="brandDetails.image"
                    [alt]="brandDetails.name" class="w-100">
        
                </div>
            </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  