<section class="w-50 mx-auto rounded bg-main-light p-3 shadow">
    <form [formGroup]="updatePassword" (ngSubmit)="newpassword()">
        <div class="mb-2">
            <label for="currentPassword">Current Password</label>
            <input formControlName="currentPassword" type="password" class="form-control" id="currentPassword">
        </div>
        <div class="mb-2">
            <label for="password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password">
        </div>
        <div class="mb-2">
            <label for="password">rePassword</label>
            <input formControlName="rePassword" type="password" class="form-control" id="rePassword">
        </div>
        <button class="btn-main w-100 mt-3">Update Password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">
            {{userMsg}}
        </p>
    </form>
</section>